# See https://help.github.com/ignore-files/ for more about ignoring files.

# environment variables (because they are supposed to be secret)
.env

# dependencies
/node_modules

# misc
package-lock.json
/trash
Gruntfile*.*
npm-debug.log*

# my personal notes
/Notes
/trash
